.idea/
retailcrm/views/css/less/*.css
retailcrm/views/css/less/*.map
retailcrm/views/css/*.css
retailcrm/views/css/*.map
!retailcrm/views/css/*.min.css
retailcrm/views/js/*.map
retailcrm/config*.xml
retailcrm/custom
retailcrm/override
upgrade/upgrade-*.php
!upgrade/upgrade-sample.php
coverage.xml
.php-cs-fixer.cache
.env
